/* Layout */
main {
    position: relative;
    height: 100%;
    z-index: 1;
    padding: 48px;
    display: flex;
    flex-direction: column;
}

/* App container */
#app {
    max-width: 980px;
    margin: 0 auto;
    height: 100%;
}



