/* Welcome page */
.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    gap: 16px;

    .content {
        color: var(--text);
        background-color: var(--glass);
        backdrop-filter: blur(6px);
        border-radius: var(--radius);
        padding: 48px;
    }

    form {
        max-width: 300px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 8px;

        label,
        .error {
            font-size: 0.9rem;
            align-self: flex-start;
        }
    }
}

/* ROOMS */
.room-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* ROOM */
.room {
    height: 100%;
    .footer {
        flex-shrink: 0;
    }
}
