/* Utilities */
.rive-animation {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.w100 {
    width: 100%;
}

.flex1 {
    flex: 1;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

@for $i from 1 through 8 {
    .gap-#{$i} {
        gap: calc(var(--spacing) * #{$i});
    }
    .mr-#{$i} {
        margin-right: calc(var(--spacing) * #{$i});
    }
    .ml-#{$i} {
        margin-left: calc(var(--spacing) * #{$i});
    }
    .mt-#{$i} {
        margin-top: calc(var(--spacing) * #{$i});
    }
    .mb-#{$i} {
        margin-bottom: calc(var(--spacing) * #{$i});
    }
    .m-#{$i} {
        margin: calc(var(--spacing) * #{$i});
    }
    .p-#{$i} {
        padding: calc(var(--spacing) * #{$i});
    }
}

